@import '../basic';

footer {
    background-color: $bg-color;
    padding: 40px 0;
    margin-top: 100px;
    @include center;

    label {font-weight: 600; padding: 5px 0 15px;}
    input {
        width: 210px;
        border: 1px solid $red;
        padding: 7.5px 15px;
        font-size: 14px;
        font-weight: 600;
        color: $red;
        outline: none;
        transition: .3s ease;

        &:focus {box-shadow: 0 0 5px rgba($red, .5);}
    }
    .btn-danger {
        background-color: $red;
        border-radius: 0;
    }
}

.sm-icons {
    a {
        color: $black;
        font-weight: 600;
        transition: .3s ease;
        &:hover {color: $red;}
    }
    i {
        color: $red;
        font-size: 18px;
        padding: 5px 20px 5px 0;
    }
}


// Responsive
@media only screen and (max-width: 1199px) {
    footer {}
}