@import '../basic';

header {
    position: relative;
    height: 1100px;
    background-image: linear-gradient(red 10%, $red 50%, rgb(179, 5, 161) 90%);
    @include center;

    .header-lady {
        position: absolute;
    }
}

// Responsive 
@media only screen and (max-width: 1199px) {
    header {
        height: 1000px;
        
        img {width: 90%;}
        .header-lady {width: 66%;}
    }
}